# Composer
/vendor

# Node
/node_modules
/bower_components

# SASS
.sass-cache

# Homestead
/.vagrant
/Homestead.yaml
/Vagrantfile

# Don't save processed images in version control
/public/photos/*
/storage/processed-photos.json
