div.grid {
	background: orange;
	overflow: hidden;
	padding: 2.5vw 0 0 2.5vw;
}
	div.grid div.photo {
		background: #ff0055;
		display: block;
		float: left;
		margin: 0 2.5vw 2.5vw 0;
	}
	div.grid div.photo.square {
		height: 30vw;
		width: 30vw;
	}
	div.grid div.photo.wide {
		height: 30vw;
		width: 62.5vw;
	}
	div.grid div.photo.tall {
		height: 62.5vw;
		width: 30vw;
	}