*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: #f2efeb;
	color: #222;
	font: 100%/1.5em Helvetica, Arial, sans-serif;
	position: relative;
}

.photo {
	background-position: center center;
	background-size: cover;
}

div.grid {

	overflow: hidden;
	padding: 2.5vw 0 0 2.5vw;

	a {

		@extend .photo;
		display: block;
		float: left;
		height: 17vw;
		margin: 0 2.5vw 2.5vw 0;
		width: 17vw;

		@media screen and (max-width: 1200px) {
			height: 21.875vw;
			width: 21.875vw;
		}

		@media screen and (max-width: 900px) {
			height: 30vw;
			width: 30vw;
		}

		@media screen and (max-width: 600px) {
			height: 46.25vw;
			width: 46.25vw;
		}

		@media screen and (max-width: 350px) {
			height: 95vw;
			width: 95vw;
		}

	}

}

p.information {

	margin-bottom: 20px;
	text-align: center;

	a {
		color: #ff8800;
		text-decoration: none;
	}

}
