@import "compass/css3";

div.grid {
	overflow: hidden;
}
	div.grid div.photo {
		background-position: center center;
		@include background-size(cover);
		cursor: pointer;
		display: block;
		float: left;
	}

div.overlay {
	background: #111;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
div.overlay-photo {
	background-position: center center;
	@include background-size(cover);
	cursor: pointer;
	position: fixed;
}