@import "compass/css3";

div.grid {
	overflow: hidden;
	padding: 2.5vw 0 0 2.5vw;
}
	div.grid div.photo {
		background-position: center center;
		@include background-size(cover);
		display: block;
		float: left;
		margin: 0 2.5vw 2.5vw 0;
	}
	div.grid div.photo.square {
		height: 30vw;
		width: 30vw;
	}
	div.grid div.photo.wide {
		height: 30vw;
		width: 62.5vw;
	}
	div.grid div.photo.tall {
		height: 62.4vw; // Deliberately incorrect to prevent rounding issue
		width: 30vw;
	}


/*
	Mobile
*/
@media screen and (max-width: 758px) {

	div.grid div.photo {
		height: 95vw !important;
		width: 95vw !important;
	}

}